<div class="question-page">
  <div class="question-page__top">

      <img class="question-page__close-img" src="/assets/svg/close.svg" alt="cross" (click)="openConfirmModal()">


    <ng-container *ngIf="1">
      <div class="timer">
        <div class="timer__line"></div>
        <div class="timer__line timer__line--colored" id="line"></div>
      </div>
      <span class="time" id="time">20.00</span>
    </ng-container>

  </div>

  <p class="question" id="question">Who is the author of this picture?</p>


  <div class="picture-container ">
    <img class="question-picture" src="../../../assets/img/{{rightAnswer.imageNum}}.webp" alt="picture">
  </div>


  <div class="question-dots">
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
    <span class="question-dots__dot"></span>
  </div>

  <div class="question-answers">
    <button 
      class="button answer"
      *ngFor="let variant of variants"
      [id]="variant.imageNum"
      (click)="questionService.checkAnswer(+variant.imageNum)">
      {{ variant.authorEN }}</button>
  </div>

</div>

<router-outlet></router-outlet>