.question-page {
  max-width: 825px;
  margin: 0 auto;
}

.question_pictures_page {
  max-width: 825px;
  margin: 0 auto;
}

.question-page__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 12px 0;
  column-gap: 20px;
}

.question {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 10px;
  @media (max-width: 750px) {
    font-size: 24px;
  }
  @media (max-width: 450px) {
    font-size: 18px;
  }
}
.question-page__close-img {
  cursor: pointer;
}

.timer {
  width: 100%;
  position: relative;
}

.timer__line {
  width: 100%;
  height: 4px;
  margin: 0 5px;
  background-color: #ffffff;
}

.timer__line--colored {
  width: 0%;
  height: 4px;
  margin: 0 5px;
  background-color: #fa7d4b;
  position: absolute;
  top: 0;
  align-items: right;
}

.time {
  display: inline-block;
  width: 110px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  @media (max-width: 750px) {
    font-size: 24px;
  }
  @media (max-width: 530px) {
    font-size: 18px;
  }
}

.question-page__timer {
  width: 80px;
}

.colored {
  color: #ffbca2;
  font-weight: 700;
}
.question-picture-wrapper {
  margin: 15px auto;
}

.question-picture {
  padding: 0;
  border-radius: 20px;
  margin: 0 auto;
  height: 600px;
  display: block;
  @media (max-width: 950px) {
    height: auto;
  }
}

.image-wrapper {
  cursor: pointer;
  position: relative;
  width: 400px;
  height: 280px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid transparent;
  &:hover {
    transition: 0.5s;
    border: 1px solid white;
  }
  @media (max-width: 950px) {
    width: 330px;
    height: auto;
  }
  @media (max-width: 750px) {
    width: 250px;
    height: auto;
  }
  @media (max-width: 630px) {
    width: 200px;
    height: auto;
  }

  .image-wrapper__picture {
    pointer-events: none;
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: -50px;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 950px) {
      margin-top: -60px;
    }
  }

  .image-wrapper__bg {
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 20px;
  }

  &.correct {
    .image-wrapper__bg {
      background-color: green;
    }
  }
  &.wrong {
    .image-wrapper__bg {
      background-color: red;
    }
  }
}

.question-dots {
  text-align: center;
}

.question-dots__dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #c4c4c4;
  margin: 15px 10px;
  &.correct {
    background: green;
  }
  &.wrong {
    background: red;
  }
  @media (max-width: 530px) {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
}

.question-answers {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  justify-content: center;
  margin-top: 15px;
  @media (max-width: 750px) {
    justify-content: center;
  }
}

.button {
  padding: 0;
  cursor: pointer;
  width: 287px;
  height: 62px;
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
  border-radius: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  &:hover {
    color: black;
    background-color: #ffffff;
    transition: 0.75s ease-out;
  }
  &:active {
    color: black;
    background-color: #ffbca2;
    transition: 0.75s ease-out;
    border: #ffbca2;
  }
}

.answer {
  height: 55px;
  margin-bottom: 10px;
  border: 2px solid #ffffff;
  &:hover {
    background-color: #ffbca2;
    border: #ffbca2;
    transition: 0.75s ease-out;
  }
  &:active {
    background-color: #ffbca2;
    border: #ffffff;
    transition: 0.75s ease-out;
  }
  &.correct {
    background-color: green;
  }
  &.wrong {
    background-color: red;
  }

  @media (max-width: 960px) {
    width: 330px;
    border: 2px solid #ffffff;
    border-radius: 60px;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
  }
  @media (max-width: 750px) {
    width: 205px;
    height: 50px;
    font-size: 16px;
  }

  @media (max-width: 530px) {
    height: 40px;
    font-size: 12px;
  }
}

.pictures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-count: 2;
  row-gap: 25px;
  margin: 30px 0;
  @media (max-width: 950px) {
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
  }
  @media (max-width: 500px) {
    row-gap: 8px;
    column-gap: 8px;
    margin: 10px 0;
    height: 600px;
  }
}
