<div class="header">
  <img class="header__logo" src="assets/svg/logo.svg" routerLink="/start" alt="Logo">
  <span class="header__home-link" routerLink="/start">Home</span>
  <span class="header__current-page">Gallery</span>
</div>
<h3 class="quiz-title"></h3>
<div class="categories-container">
  <p>Показывать по</p>
  <p>Сортировать</p>

  <div class="cards">
    <div class="picture" *ngFor="let picture of dataService.data">
      <img class="picture__img" [appPictureStyle]="picture.imageNum" (click)="showDescription(picture)" src="../../../assets/img/{{picture.imageNum}}.webp" alt="Picture">
    </div>
  </div>

</div>
