.start-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  @media (max-width: 600px) {
    //padding-top: 120px;
  }
  .start-page__title {
    height: 165px;
    margin: 0 auto 40px auto;
    @media (max-width: 600px) {
      height: 95px;
      //margin: 0 auto 50px auto;
      //height: auto;
    }
  }
  .start-page__button {
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
    padding: 15px 60px;
    width: 300px;
    border: 2px solid #ffffff;
    background: none;
    color: #ffffff;
    border-radius: 60px;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    &:hover {
      color: black;
      background-color: #ffffff;
      transition: 0.75s ease-out;
      border: 2px solid #ffffff;
    }
    &:active {
      color: black;
      background-color: #ffbca2;
      transition: 0.75s ease-out;
      border: #ffbca2;
      border: 2px solid #ffffff;
    }
    @media (max-width: 420px) {
      width: 220px;
      padding: 10px 30px;
      font-size: 20px;
    }
  }
}
.settings-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  transition: 1s;
  width: 150px;
  .settings__link {
    margin-right: 5px;
    transition: 1s;
  }
  &:hover {
    .settings__link {
      transform: rotate(90deg);
      transition: 1s;

    }
    .set {
      color: #ffbca2;
    }
  }
  .settings__link-img {
    width: 36px;
    height: 36px;
  }
}