<div  class="dialog">
  <h3 class="dialog__title">{{ modalData.message }}</h3>
  <div class="div">
    <mat-dialog-actions align="center">
      <button 
        class="dialog__button"
        mat-button 
        [mat-dialog-close]="true"
        type="button"
        (click)="questionService.quitQuiz()">
        {{ modalData.actionButtonText }}
    </button>

      <button 
        class="dialog__button"
        mat-button
        mat-dialog-close>
        {{ modalData.cancelButtonText }}
    </button>
    </mat-dialog-actions>
  </div>
    
</div>

