.quiz-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #ffbca2;
  margin: 30px 0 60px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin: 60px 0;
  @media (max-width: 1400px) {
    justify-content: center;
  }
}
