<div class="header">
  <img class="header__logo" src="assets/svg/logo.svg" alt="Logo">
  <span class="header__home-link" routerLink="/start">Home</span>
  <span class="header__current-page">Categories</span>
</div>
<h3 class="quiz-title"></h3>
<div class="categories-container">


  <div class="cards">

    <div class="card" *ngFor="let image of images; let i = index" [id]="i" (click)="checkClick($event, i)">
      <div class="card__top">
        <div class="card__category">{{ genres[i] }}</div>
        <div class="card__score">2/10</div>
      </div>
      <div class="card__box">
        <img class="card__image card__image--grey" src="/assets/img/{{image}}.webp" alt="Picture">
        <div class="card__label">
          <img class="card__label-image" src="/assets/svg/again.svg">
          Play again
        </div>
      </div>
    </div>

  </div>



</div>