<div class="header">
  <img class="header__logo" src="assets/svg/logo.svg" alt="Logo">
  <a class="header__home-link" href="#/categories">quiz</a>
  <span class="header__current-page" href="#">Score</span>
</div>
<h3 class="score-title">score</h3>
<div class="score-note">Click the picture to see details</div>
<div class="results-container">
  <div class="picture">
    <img class="picture__img ${grey}" src="../../../assets/img/10.webp" alt="Picture">
    <div class="picture__description none" (click)="showDescription($event)">
      <p>authorEN}</p>
      <p>nameEN}</p>
      <p>year}</p>
    </div>
  </div>
 
</div>