.footer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.footer__RSS-img {
  @media (max-width: 550px) {
width: 60px;
  }
}
.footer__dev {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.footer__dev-link {
  color: white;
  &:hover {
    color: #ffbca2;
  }
  @media (max-width: 550px) {
      font-size: 12px;
      word-wrap: normal;
      text-align: right;
    }
}
.footer__dev-img {
  width: 20px;
  height: 20px;
}




