<div class="container">
  <div class="footer">
    <a class="footer__RSS-link" href="https://rs.school/js/" target="_blank">
      <img
        class="footer__RSS-img"
        src="/assets/svg/rs_school.svg"
        alt="RSSchool"
      />
    </a>
    <div class="footer__dev">
      <img
        class="footer__dev-img"
        src="../../../../assets/svg/github.svg"
        alt="git"
      />
      <a
        class="footer__dev-link"
        target="_blank"
        href="https://github.com/lisaliza6428"
        >Elizaveta Ivanushenko</a
      >
    </div>
  </div>
</div>
